* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 40px;
  font-family: "Calibri";
  text-align: left;
  text-transform: uppercase; }

p, span, h2, h1, h3, h4, a {
  letter-spacing: normal; }

h2 {
  font-size: 30px;
  font-family: "Calibri";
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-size: 26px;
  font-family: "Calibri";
  font-weight: bold; }

h4 {
  font-size: 20px;
  font-family: "Calibri";
  font-weight: bold; }

p {
  font-size: 20px;
  font-family: "Calibri";
  font-weight: 400; }

img {
  max-width: 100%; }

.Button {
  border-radius: 15px;
  background: #ff4813;
  color: white;
  font-family: 'MyriadPro-Regular';
  font-weight: 400;
  font-size: 30px;
  width: 284px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer; }

.Round-Button, .Page-4 .P4-Bottom .P4-Bottom-Container-In .Button-P4 {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }

.Round-Button:hover, .Page-4 .P4-Bottom .P4-Bottom-Container-In .Button-P4:hover {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: white; }

.Button, .Page-4 .P4-Bottom .P4-Bottom-Container-In .Button-P4, .Page-5 .P5-Central .P5-Central-Content-In .P5-Button, .Round-Button, .Sqr-Button {
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  -ms-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear; }

.Button:hover, .Page-4 .P4-Bottom .P4-Bottom-Container-In .Button-P4:hover, .Page-5 .P5-Central .P5-Central-Content-In .P5-Button:hover, .Round-Button:hover, .Sqr-Button:hover {
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  -ms-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
  background-color: #3b4661; }

.Round-Button {
  margin: 0 auto;
  border-radius: 16px;
  width: 190px;
  border: 3px solid #3b4661;
  color: #3b4661;
  font-family: 'MyriadPro-Regular';
  font-size: 20px;
  background-color: white;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
  margin-top: 25px; }

.Page-1 {
  width: 100%; }
  .Page-1 .P1-Header-Top {
    background: #3b4661;
    color: white;
    padding-top: 13px;
    padding-bottom: 15px; }
    .Page-1 .P1-Header-Top .Contacts-Header-W {
      max-width: 1225px;
      margin: 0 auto;
      padding: 0 20px 0 20px;
      text-align: right; }
    .Page-1 .P1-Header-Top .Contacts-Header-W img {
      display: inline-block;
      vertical-align: middle; }
    .Page-1 .P1-Header-Top .Contacts-Header, .Page-1 .P1-Header-Top .P1-Img-Container {
      display: inline-block;
      vertical-align: middle; }
    .Page-1 .P1-Header-Top .Contacts-Header img {
      padding-right: 11px; }
    .Page-1 .P1-Header-Top .P1-Img-Container a {
      margin: 0 16px; }
    .Page-1 .P1-Header-Top .Contacts-Header div {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      font-family: "Calibri";
      font-weight: 400;
      padding-right: 37px; }
    .Page-1 .P1-Header-Top .Contacts-Header:nth-of-type(2) div {
      padding-right: 34px; }
  .Page-1 .P1-Header-Bottom {
    background: white;
    width: 100%;
    color: black; }
    .Page-1 .P1-Header-Bottom .Bottom-Header-W {
      max-width: 1225px;
      margin: 0 auto;
      padding: 3px 20px 17px 20px;
      font-size: 0;
      letter-spacing: -4px; }
    .Page-1 .P1-Header-Bottom .Logo-Container {
      display: inline-block;
      position: relative;
      width: 20%;
      vertical-align: middle; }
    .Page-1 .P1-Header-Bottom .Logo-Container img {
      display: block;
      position: absolute;
      top: -19px; }
    .Page-1 .P1-Header-Bottom .Logo-Container span {
      font-size: 56px;
      font-style: italic;
      font-family: "Calibri";
      font-weight: bold;
      display: inline-block;
      padding-left: 112px;
      color: #2c2c2c; }
    .Page-1 .P1-Header-Bottom .Href-Container {
      width: 80%;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      padding-top: 15px; }
      .Page-1 .P1-Header-Bottom .Href-Container a {
        font-size: 20px;
        font-family: "Calibri";
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        color: black;
        margin-left: 31px; }
  .Page-1 .P1-Central {
    background: url("../img/p1-centr-background.png") no-repeat center;
    background-size: cover;
    padding: 90px 0 287px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39) inset;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39) inset;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39) inset;
    box-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39) inset; }
    .Page-1 .P1-Central .P1-Central-W {
      max-width: 1225px;
      margin: 0 auto;
      padding: 0 20px 0 20px;
      text-align: left; }
      .Page-1 .P1-Central .P1-Central-W h1 {
        color: #2c2c2c;
        display: block;
        padding-bottom: 32px;
        text-align: left; }
      .Page-1 .P1-Central .P1-Central-W p {
        font-size: 19px;
        font-family: 'MyriadPro-Regular';
        font-weight: 400;
        display: block;
        max-width: 506px;
        padding-bottom: 17px; }
      .Page-1 .P1-Central .P1-Central-W .Button {
        margin-top: 33px; }

.Page-2 {
  font-size: 0;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px; }
  .Page-2 h2 {
    display: block;
    padding: 0 10px; }
  .Page-2 .P2-W {
    max-width: 1290px;
    margin: 0 auto;
    font-size: 0;
    padding-top: 83px;
    letter-spacing: -4px; }
    .Page-2 .P2-W .P2-1 {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding-left: 15px;
      padding-right: 36px;
      max-width: 640px; }
      .Page-2 .P2-W .P2-1 h3 {
        color: #ff4813;
        padding-bottom: 16px; }
      .Page-2 .P2-W .P2-1 h4 {
        padding: 42px 0 16px 0; }
      .Page-2 .P2-W .P2-1 .Par-P2-1 {
        line-height: 44px;
        display: block;
        padding-left: 27px; }
    .Page-2 .P2-W .P2-2 {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      max-width: 583px;
      padding-left: 15px;
      padding-right: 15px; }
      .Page-2 .P2-W .P2-2 h4 {
        padding-bottom: 30px; }
      .Page-2 .P2-W .P2-2 p {
        padding-bottom: 28px; }
      .Page-2 .P2-W .P2-2 .Button {
        width: 100%;
        margin-top: 17px; }

.Page-3 {
  background: url("../img/p3-back.png") no-repeat center;
  background-size: cover;
  border-bottom: 5px solid #697aa2;
  border-top: 5px solid #697aa2;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35) inset;
  box-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35) inset; }
  .Page-3 .Page-3-W {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px 0 20px; }
    .Page-3 .Page-3-W .P3-1 {
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px;
      margin-top: -50px; }
      .Page-3 .Page-3-W .P3-1 h2 {
        font-weight: 300;
        font-family: "Calibri";
        color: white;
        padding-bottom: 23px;
        display: block;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }
      .Page-3 .Page-3-W .P3-1 .Video-Container-P3 {
        position: relative; }
        .Page-3 .Page-3-W .P3-1 .Video-Container-P3 .Play-Button {
          position: absolute;
          border-radius: 50%;
          border: 3px solid white;
          width: 90px;
          height: 90px;
          left: 50%;
          top: 50%;
          margin: -45px;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75); }
        .Page-3 .Page-3-W .P3-1 .Video-Container-P3 .Play-Button-Tr {
          position: absolute;
          height: 0;
          width: 0;
          border-top: 24px solid transparent;
          border-left: 40px solid  white;
          border-bottom: 24px solid transparent;
          left: 50%;
          margin: -24px -13px;
          top: 50%;
          cursor: pointer; }
        .Page-3 .Page-3-W .P3-1 .Video-Container-P3 .Video-Container-Shadow {
          max-width: 700px;
          width: 100%;
          height: 10px;
          box-shadow: 4px 12px 13px 0px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 4px 12px 13px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 4px 12px 13px 0px rgba(0, 0, 0, 0.5);
          box-box-shadow: 4px 12px 13px 0px rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: 3px;
          border-radius: 50%; }
    .Page-3 .Page-3-W .P3-2 {
      display: inline-block;
      max-width: 500px;
      vertical-align: middle;
      padding: 0 15px; }

.Page-4 {
  width: 100%;
  padding: 100px 0;
  border-bottom: 5px solid #e8e8e8; }
  .Page-4 h2 {
    font-weight: bold;
    text-transform: uppercase; }
  .Page-4 .T-1, .Page-4 .T-2, .Page-4 .T-3 {
    position: absolute;
    text-align: left; }
  .Page-4 .T-1 span, .Page-4 .T-2 span, .Page-4 .T-3 span {
    font-size: 24px;
    display: block; }
  .Page-4 .T-1 span:first-of-type, .Page-4 .T-2 span:first-of-type, .Page-4 .T-3 span:first-of-type {
    font-size: 24px;
    font-family: "Calibri";
    font-weight: 400;
    color: #2e2e2e; }
  .Page-4 .T-1 span:last-of-type, .Page-4 .T-2 span:last-of-type, .Page-4 .T-3 span:last-of-type, .Page-4 .Page-4 .P4-Central-2 {
    font-size: 17px;
    font-style: italic;
    font-family: "Calibri", sans-serif;
    font-weight: 300;
    color: #2c2c2c;
    padding-top: 4px;
    padding-left: 1px;
    display: block; }
  .Page-4 .P4-Central {
    width: 100%;
    position: relative;
    font-size: 0;
    letter-spacing: -4px;
    height: 325px;
    padding-top: 67px; }
    .Page-4 .P4-Central .P4-L {
      display: inline-block;
      width: 50%;
      text-align: center;
      position: relative; }
      .Page-4 .P4-Central .P4-L span {
        font-size: 28px;
        font-family: "Calibri";
        font-weight: 400;
        color: #000000;
        display: block;
        position: absolute;
        right: 221px;
        top: 112px; }
    .Page-4 .P4-Central .T-1 {
      padding-left: 62px;
      top: 0px;
      height: 86px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 10px; }
    .Page-4 .P4-Central .T-2 {
      padding-left: 115px;
      top: 92px;
      height: 80px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 5px; }
      .Page-4 .P4-Central .T-2 span:first-of-type {
        font-size: 24px;
        font-family: "Calibri";
        font-weight: 400;
        color: #2e2e2e; }
    .Page-4 .P4-Central .T-3 {
      padding-left: 174px;
      top: 178px;
      height: 80px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 5px; }
      .Page-4 .P4-Central .T-3 span:first-of-type {
        font-size: 24px;
        font-family: "Calibri";
        font-weight: 400;
        color: #2e2e2e; }
    .Page-4 .P4-Central .Pyramid-1 {
      position: relative;
      width: 50%;
      display: inline-block; }
      .Page-4 .P4-Central .Pyramid-1 .PT {
        position: relative; }
        .Page-4 .P4-Central .Pyramid-1 .PT .Pyr-1 {
          width: 0;
          height: 0;
          border-bottom: 86px solid #ff4813;
          border-left: 47px solid transparent;
          border-right: 47px solid transparent;
          position: absolute;
          left: -47px;
          z-index: 1; }
    .Page-4 .P4-Central .PM {
      position: relative; }
      .Page-4 .P4-Central .PM .Pyr-2 {
        width: 188px;
        height: 80px;
        position: absolute;
        left: -95px;
        top: 92px;
        z-index: 1; }
        .Page-4 .P4-Central .PM .Pyr-2 .Tr-1 {
          width: 0;
          height: 0;
          border-bottom: 80px solid #ff4813;
          border-left: 44px solid transparent;
          border-right: 0 solid transparent;
          position: absolute;
          left: 0; }
        .Page-4 .P4-Central .PM .Pyr-2 .Tr-2 {
          width: 102px;
          height: 80px;
          background: #ff4813;
          display: inline-block;
          position: absolute;
          left: 44px; }
        .Page-4 .P4-Central .PM .Pyr-2 .Tr-3 {
          width: 0;
          height: 0;
          border-bottom: 80px solid #ff4813;
          border-left: 0 solid transparent;
          border-right: 44px solid transparent;
          position: absolute;
          left: 146px; }
    .Page-4 .P4-Central .PB {
      position: relative; }
      .Page-4 .P4-Central .PB .Pyr-3 {
        width: 280px;
        height: 80px;
        position: absolute;
        left: -141px;
        top: 178px;
        z-index: 1; }
        .Page-4 .P4-Central .PB .Pyr-3 .Tr-1 {
          width: 0;
          height: 0;
          border-bottom: 80px solid #ff4813;
          border-left: 44px solid transparent;
          border-right: 0 solid transparent;
          position: absolute;
          left: 0; }
        .Page-4 .P4-Central .PB .Pyr-3 .Tr-2 {
          width: 194px;
          height: 80px;
          background: #ff4813;
          display: inline-block;
          position: absolute;
          left: 44px; }
        .Page-4 .P4-Central .PB .Pyr-3 .Tr-3 {
          width: 0;
          height: 0;
          border-bottom: 80px solid #ff4813;
          border-left: 0 solid transparent;
          border-right: 44px solid transparent;
          position: absolute;
          left: 238px; }
  .Page-4 .P4-Central-2 {
    width: 100%;
    position: relative;
    font-size: 0;
    letter-spacing: -4px;
    height: 264px;
    padding-top: 6px; }
    .Page-4 .P4-Central-2 .T-1 span:last-of-type, .Page-4 .P4-Central-2 .T-2 span:last-of-type, .Page-4 .P4-Central-2 .T-3 span:last-of-type, .Page-4 .P4-Central-2 .Page-4 .P4-Central-2 {
      text-align: right;
      font-size: 17px; }
    .Page-4 .P4-Central-2 .P4-L {
      display: inline-block;
      width: 50%;
      text-align: center;
      position: relative; }
      .Page-4 .P4-Central-2 .P4-L span {
        font-size: 28px;
        font-family: "Calibri";
        font-weight: 400;
        color: #000000;
        display: block;
        position: absolute;
        left: 221px;
        top: 112px; }
    .Page-4 .P4-Central-2 .T-1, .Page-4 .P4-Central-2 .T-2, .Page-4 .P4-Central-2 .T-3 {
      position: absolute;
      text-align: left; }
      .Page-4 .P4-Central-2 .T-1 span, .Page-4 .P4-Central-2 .T-2 span, .Page-4 .P4-Central-2 .T-3 span {
        font-size: 24px;
        display: block; }
    .Page-4 .P4-Central-2 .T-1 {
      text-align: right;
      padding-right: 172px;
      top: 0px;
      height: 80px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 10px; }
      .Page-4 .P4-Central-2 .T-1 span:first-of-type {
        font-size: 24px;
        font-family: "Calibri";
        font-weight: 400;
        color: #2e2e2e; }
      .Page-4 .P4-Central-2 .T-1 span:last-of-type {
        font-size: 17px;
        font-style: italic;
        font-family: "Calibri", sans-serif;
        font-weight: 300;
        color: #2c2c2c;
        padding-top: 4px;
        padding-left: 1px;
        display: block; }
    .Page-4 .P4-Central-2 .T-2 {
      padding-right: 115px;
      text-align: right;
      top: 86px;
      height: 80px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 5px; }
      .Page-4 .P4-Central-2 .T-2 span:first-of-type {
        font-size: 24px;
        font-family: "Calibri";
        font-weight: 400;
        color: #2e2e2e; }
    .Page-4 .P4-Central-2 .T-3 {
      padding-right: 62px;
      text-align: right;
      top: 172px;
      height: 86px;
      background-color: #dddddd;
      width: 100%;
      padding-top: 5px; }
      .Page-4 .P4-Central-2 .T-3 span:first-of-type {
        font-size: 24px;
        font-family: "Calibri";
        font-weight: 400;
        color: #2e2e2e; }
    .Page-4 .P4-Central-2 .Pyramid-2 {
      position: relative;
      width: 50%;
      display: inline-block; }
      .Page-4 .P4-Central-2 .Pyramid-2 .PT {
        position: relative; }
        .Page-4 .P4-Central-2 .Pyramid-2 .PT .Pyr-1 {
          width: 0;
          height: 0;
          border-top: 86px solid #2c2c2c;
          border-left: 47px solid transparent;
          border-right: 47px solid transparent;
          position: absolute;
          right: -47px;
          top: 172px;
          z-index: 1; }
    .Page-4 .P4-Central-2 .PM {
      position: relative; }
      .Page-4 .P4-Central-2 .PM .Pyr-2 {
        width: 188px;
        height: 80px;
        position: absolute;
        right: -93px;
        top: 86px;
        z-index: 1; }
        .Page-4 .P4-Central-2 .PM .Pyr-2 .Tr-1 {
          width: 0;
          height: 0;
          border-top: 80px solid #2c2c2c;
          border-left: 44px solid transparent;
          border-right: 0 solid transparent;
          position: absolute;
          left: 0; }
        .Page-4 .P4-Central-2 .PM .Pyr-2 .Tr-2 {
          width: 102px;
          height: 80px;
          background: #2c2c2c;
          display: inline-block;
          position: absolute;
          left: 44px; }
        .Page-4 .P4-Central-2 .PM .Pyr-2 .Tr-3 {
          width: 0;
          height: 0;
          border-top: 80px solid #2c2c2c;
          border-left: 0 solid transparent;
          border-right: 44px solid transparent;
          position: absolute;
          left: 146px; }
    .Page-4 .P4-Central-2 .PB {
      position: relative; }
      .Page-4 .P4-Central-2 .PB .Pyr-3 {
        width: 280px;
        height: 80px;
        position: absolute;
        right: -139px;
        top: 0;
        z-index: 1; }
        .Page-4 .P4-Central-2 .PB .Pyr-3 .Tr-1 {
          width: 0;
          height: 0;
          border-top: 80px solid #2c2c2c;
          border-left: 44px solid transparent;
          border-right: 0 solid transparent;
          position: absolute;
          left: 0; }
        .Page-4 .P4-Central-2 .PB .Pyr-3 .Tr-2 {
          width: 194px;
          height: 80px;
          background: #2c2c2c;
          display: inline-block;
          position: absolute;
          left: 44px; }
        .Page-4 .P4-Central-2 .PB .Pyr-3 .Tr-3 {
          width: 0;
          height: 0;
          border-top: 80px solid #2c2c2c;
          border-left: 0 solid transparent;
          border-right: 44px solid transparent;
          position: absolute;
          left: 238px; }
  .Page-4 .P4-Bottom {
    padding-top: 90px;
    margin: 0 auto;
    max-width: 1334px;
    font-size: 0;
    letter-spacing: -4px; }
    .Page-4 .P4-Bottom .P4-Bottom-Container {
      display: inline-block;
      width: 33.3%;
      padding: 0 28px;
      vertical-align: top; }
    .Page-4 .P4-Bottom .P4-Bottom-Container-In {
      color: white;
      width: 100%;
      padding: 23px 28px;
      background-color: #ff4813;
      border-radius: 5px; }
      .Page-4 .P4-Bottom .P4-Bottom-Container-In span {
        font-family: "Calibri";
        font-weight: 400;
        font-size: 24px; }
      .Page-4 .P4-Bottom .P4-Bottom-Container-In p {
        padding: 26px 0 35px 0;
        font-weight: 400;
        font-size: 16px; }
      .Page-4 .P4-Bottom .P4-Bottom-Container-In .Button-P4 {
        font-size: 16px;
        max-width: 176px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        color: black;
        padding: 11px 0;
        cursor: pointer; }

.Page-5 {
  width: 100%;
  padding: 100px 0 100px 0; }
  .Page-5 h2 {
    padding-bottom: 27px; }
  .Page-5 .P5-Central {
    margin: 0 auto;
    max-width: 1322px;
    font-size: 0;
    letter-spacing: -4px; }
    .Page-5 .P5-Central .P5-Central-Content {
      display: inline-block;
      width: 33.3%;
      vertical-align: top;
      padding: 26px; }
    .Page-5 .P5-Central .P5-Central-Content-In {
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      padding: 25px 35px 20px; }
      .Page-5 .P5-Central .P5-Central-Content-In h2 {
        text-transform: none;
        text-align: left;
        padding-bottom: 37px;
        color: #3b4661; }
      .Page-5 .P5-Central .P5-Central-Content-In p {
        font-size: 16px;
        font-family: 'MyriadPro-Regular';
        padding-bottom: 27px; }
      .Page-5 .P5-Central .P5-Central-Content-In p:nth-of-type(2) {
        padding-bottom: 12px;
        font-family: "Calibri", sans-serif;
        font-weight: 300; }
        .Page-5 .P5-Central .P5-Central-Content-In p:nth-of-type(2) sup {
          font-size: 11px; }
      .Page-5 .P5-Central .P5-Central-Content-In p:nth-of-type(3) {
        padding-bottom: 24px;
        font-family: "Calibri", sans-serif;
        font-weight: 300; }
      .Page-5 .P5-Central .P5-Central-Content-In .P5-Button {
        border-radius: 16px;
        background: #ff4813;
        color: white;
        font-family: "Calibri";
        font-weight: bold;
        font-size: 22px;
        max-width: 250px;
        padding: 12px 0;
        text-align: center;
        cursor: pointer;
        margin: 0 auto; }

.Page-6 {
  width: 100%;
  background: url("../img/P6-Back.jpg") no-repeat center;
  background-size: cover;
  padding: 90px 0 70px;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.3) inset;
  box-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.3) inset;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #e8e8e8; }
  .Page-6 .P6-Central {
    max-width: 888px;
    margin: 0 auto;
    padding-top: 45px;
    font-size: 0;
    letter-spacing: -4px; }
    .Page-6 .P6-Central .P6-Text {
      padding-top: 18px; }
      .Page-6 .P6-Central .P6-Text .P6-NC {
        font-size: 0;
        letter-spacing: -4px; }
      .Page-6 .P6-Central .P6-Text p {
        font-family: "Open Sans", sans-serif;
        padding-top: 22px; }
      .Page-6 .P6-Central .P6-Text .P6-NC span {
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
        display: inline-block;
        width: 50%;
        vertical-align: middle; }
      .Page-6 .P6-Central .P6-Text .P6-C {
        display: inline-block;
        text-align: right;
        width: 50%;
        vertical-align: middle; }
        .Page-6 .P6-Central .P6-Text .P6-C a {
          display: inline-block;
          margin-left: 11px;
          text-decoration: none; }
        .Page-6 .P6-Central .P6-Text .P6-C a:first-of-type {
          margin-left: 0;
          text-decoration: none; }
    .Page-6 .P6-Central .P6-1 {
      display: inline-block;
      width: 50%;
      padding: 0 25px;
      vertical-align: top; }
      .Page-6 .P6-Central .P6-1 .KA {
        width: 100%; }
    .Page-6 .P6-Central .P6-2 {
      display: inline-block;
      width: 50%;
      padding: 0 25px;
      vertical-align: top; }
      .Page-6 .P6-Central .P6-2 .KA {
        width: 100%; }

.Page-7 {
  width: 100%;
  padding: 105px 0 132px 0; }
  .Page-7 h2 {
    padding-bottom: 95px;
    display: block;
    margin: 0 auto; }
  .Page-7 .P7-Line {
    text-align: center;
    max-width: 1228px;
    margin: 0 auto; }
    .Page-7 .P7-Line .P7-Line-In {
      padding: 0 22px 50px 22px;
      vertical-align: middle;
      display: inline-block; }
      .Page-7 .P7-Line .P7-Line-In img {
        cursor: pointer; }
      .Page-7 .P7-Line .P7-Line-In div:nth-of-type(4) {
        padding-left: 10px; }

.Page-8 {
  padding: 95px 0 100px 0;
  width: 100%;
  border-top: 5px solid #e8e8e8;
  background: url("../img/p8-background.jpg") no-repeat center;
  background-size: cover;
  font-size: 0; }
  .Page-8 .P8-Central {
    margin: 0 auto;
    max-width: 1228px;
    padding: 50px 0 25px 0;
    letter-spacing: -4px;
    font-size: 0; }
    .Page-8 .P8-Central .P8-Container {
      display: inline-block;
      width: 33.3%;
      padding: 0 22px;
      vertical-align: top; }
      .Page-8 .P8-Central .P8-Container .P8-Container-In {
        webkit-box-shadow: 0 0px 24px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 0px 24px rgba(0, 0, 0, 0.23);
        box-shadow: 0 0px 24px rgba(0, 0, 0, 0.23); }
      .Page-8 .P8-Central .P8-Container .P8-C-Bottom {
        font-size: 0; }
      .Page-8 .P8-Central .P8-Container .P8-Img-Holder {
        background: url("../icon/p8-c.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 232px; }
      .Page-8 .P8-Central .P8-Container p {
        display: block;
        background-color: white;
        padding: 25px;
        font-size: 18px; }
      .Page-8 .P8-Central .P8-Container span {
        font-family: "Calibri";
        font-weight: 400;
        font-size: 15px;
        color: #3b4661;
        display: inline-block;
        width: 50%;
        background-color: white;
        padding: 0 25px 25px; }
      .Page-8 .P8-Central .P8-Container a {
        font-family: "Calibri";
        font-size: 15px;
        font-weight: 400;
        color: #3b4661;
        display: inline-block;
        width: 50%;
        background-color: white;
        padding: 0 25px 25px;
        text-align: right; }

.Bottom-Right .BRW {
  display: inline-block;
  padding-right: 34px;
  vertical-align: middle; }

.Page-9 {
  color: white;
  width: 100%;
  background: #3b4661;
  border-top: 5px solid #697aa2;
  padding: 34px 0 30px 0; }
  .Page-9 .Map {
    width: 100%;
    border-top: 5px solid #697aa2;
    border-bottom: 5px solid #697aa2;
    font-size: 12px; }
  .Page-9 h2 {
    text-transform: none;
    font-family: "Calibri Light";
    text-align: left;
    display: block;
    padding-bottom: 32px;
    font-weight: 300; }
  .Page-9 .P9-Central {
    letter-spacing: -4px;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px 30px 20px;
    font-size: 0; }
    .Page-9 .P9-Central .P9-1 {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      border: 3px dashed #626b81;
      border-radius: 4px;
      padding: 20px; }
      .Page-9 .P9-Central .P9-1 .Button {
        font-size: 22px;
        font-family: "Calibri", sans-serif;
        font-weight: bold;
        width: 180px;
        padding: 10px 0; }
      .Page-9 .P9-Central .P9-1 .Button:hover {
        background-color: #697aa2; }
      .Page-9 .P9-Central .P9-1 .Inp-Holder {
        width: 100%;
        position: relative;
        height: 34px;
        margin-bottom: 20px; }
        .Page-9 .P9-Central .P9-1 .Inp-Holder span {
          color: black;
          font-size: 14px;
          font-family: "Calibri, sans-serif";
          font-weight: 400;
          position: absolute;
          left: 14px;
          top: 10px; }
        .Page-9 .P9-Central .P9-1 .Inp-Holder input {
          width: 100%;
          background-color: white;
          height: 100%;
          padding: 0 15px;
          font-size: 12px;
          border: 2px solid #697aa2;
          border-radius: 4px; }
        .Page-9 .P9-Central .P9-1 .Inp-Holder .Sqr-Button {
          position: absolute;
          right: 0%;
          top: 0;
          width: 37px;
          height: 34px;
          background-color: white;
          padding: 15px;
          border: 2px solid #697aa2;
          border-radius: 0px 4px 4px 0px;
          cursor: pointer; }
          .Page-9 .P9-Central .P9-1 .Inp-Holder .Sqr-Button .Triangle {
            position: absolute;
            height: 0;
            width: 0;
            border-top: 6px solid #3b4661;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            top: 13px;
            left: 13px;
            cursor: pointer; }
    .Page-9 .P9-Central .P9-2 {
      display: inline-block;
      width: 50%;
      vertical-align: top; }
      .Page-9 .P9-Central .P9-2 .P9-2-In {
        padding-top: 25px;
        max-width: 476px;
        padding-top: 25px;
        padding-left: 156px; }
        .Page-9 .P9-Central .P9-2 .P9-2-In p {
          font-family: "Calibri", sans-serif;
          font-style: italic;
          font-size: 22px; }
        .Page-9 .P9-Central .P9-2 .P9-2-In .P9-2-Text {
          padding: 7px 0 20px 33px; }
          .Page-9 .P9-Central .P9-2 .P9-2-In .P9-2-Text p {
            font-family: "Calibri", sans-serif;
            font-size: 17px;
            font-style: normal; }
  .Page-9 .ymaps-2-1-29-search__input .ymaps-2-1-29-input .ymaps-2-1-29-input__control {
    font-size: 12px !important; }
  .Page-9 .P9-Bottom {
    letter-spacing: -4px;
    margin: 0 auto;
    max-width: 1227px;
    font-size: 0;
    padding: 29px 20px 0 20px; }
    .Page-9 .P9-Bottom .Bottom-Left {
      display: inline-block;
      width: 28%;
      vertical-align: middle; }
      .Page-9 .P9-Bottom .Bottom-Left img {
        padding-right: 11px; }
      .Page-9 .P9-Bottom .Bottom-Left span {
        font-size: 15px;
        font-family: "Calibri",sans-serif; }
    .Page-9 .P9-Bottom .Bottom-Left-2 {
      display: none; }
    .Page-9 .P9-Bottom .Bottom-Right {
      display: inline-block;
      width: 72%;
      vertical-align: middle;
      text-align: right; }
      .Page-9 .P9-Bottom .Bottom-Right .P9-Img-Container {
        display: inline-block;
        vertical-align: middle; }
      .Page-9 .P9-Bottom .Bottom-Right a {
        padding: 0 16px;
        vertical-align: middle; }
      .Page-9 .P9-Bottom .Bottom-Right .BRW .Footer-Img {
        padding: 0 16px;
        vertical-align: middle;
        display: inline-block; }
      .Page-9 .P9-Bottom .Bottom-Right .BRW div {
        vertical-align: middle;
        display: inline-block;
        font-size: 15px;
        font-family: "Calibri",sans-serif; }
      .Page-9 .P9-Bottom .Bottom-Right .BRW div:nth-of-type(1) {
        letter-spacing: normal; }
      .Page-9 .P9-Bottom .Bottom-Right .BRW div:nth-of-type(2) {
        letter-spacing: normal; }

/*# sourceMappingURL=index.css.map */
