@media (max-width: 1300px) {
  .Page-3 .Page-3-W .P3-2 {
    max-width: 430px; }

  .Page-3 .Page-3-W .P3-1 .Video-Container-P3 {
    max-width: 650px; } }
@media (max-width: 1200px) {
  .Page-3 {
    padding-bottom: 50px; }

  .Page-3 .Page-3-W .P3-2 {
    display: none; }

  .Page-1 .P1-Header-Bottom .Logo-Container {
    width: 100%; }

  .Page-3 .Page-3-W .P3-1 .Video-Container-P3 {
    max-width: 100%; }

  .Page-3 .Page-3-W .P3-1 .Video-Container-P3 img {
    width: 100%; }

  .Page-3 .Page-3-W .P3-1 {
    display: block;
    margin: 0 auto;
    margin-top: auto; }

  .Page-1 .P1-Header-Bottom .Href-Container {
    display: none; } }
@media (max-width: 1024px) {
  .Page-9 .P9-Bottom .Bottom-Right .P9-Img-Container {
    display: block;
    padding-top: 37px; }

  .Page-9 .P9-Bottom .Bottom-Left-2 {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 37px; }
    .Page-9 .P9-Bottom .Bottom-Left-2 img {
      padding-right: 11px; }
    .Page-9 .P9-Bottom .Bottom-Left-2 span {
      font-size: 15px;
      font-family: "Calibri",sans-serif; }

  .Page-9 .P9-Bottom .Bottom-Left {
    display: none; }

  .Page-9 .P9-Bottom .Bottom-Right {
    display: block;
    width: 100%;
    text-align: center; }

  .Page-9 .P9-Bottom .BRW {
    display: block;
    padding-right: 0;
    padding-bottom: 25px; }

  .Page-9 .P9-Bottom .BRW:nth-of-type(2) {
    padding-bottom: 0; }

  .Page-9 .P9-Bottom .Bottom-Right .BRW .Footer-Img {
    padding-left: 0; }

  .Page-2 .P2-W .P2-1 .Par-P2-1 {
    line-height: 24px;
    padding-left: 20px; }

  .Page-2 .P2-W .P2-1 {
    padding-right: 15px; }

  .Page-6 .P6-Central .P6-1, .Page-6 .P6-Central .P6-2 {
    display: block;
    width: 50%;
    margin: 0 auto; }

  .Page-6 .P6-Central .P6-1 {
    margin-bottom: 70px; }

  .Page-5 .P5-Central .P5-Central-Content {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 26px; }

  .Page-8 .P8-Central .P8-Container {
    display: block;
    width: 66%;
    margin: 0 auto 60px; }

  .Page-8 {
    padding: 55px 0 75px 0; } }
@media (max-width: 900px) {
  .Page-4 .P4-Central .T-1 {
    padding-left: 52px;
    padding-top: 10px;
    text-align: left; }
    .Page-4 .P4-Central .T-1 span:last-of-type {
      text-align: left; }
  .Page-4 .P4-Central .T-2 {
    padding-left: 100px;
    padding-top: 5px;
    text-align: left; }
    .Page-4 .P4-Central .T-2 span:last-of-type {
      text-align: left; }
  .Page-4 .P4-Central .T-3 {
    padding-left: 159px;
    padding-top: 5px;
    text-align: left; }
    .Page-4 .P4-Central .T-3 span:last-of-type {
      text-align: left; }

  .Page-4 .P4-Central-2 .T-1 {
    padding-left: 159px;
    padding-right: 0;
    padding-top: 10px;
    text-align: left; }
    .Page-4 .P4-Central-2 .T-1 span:last-of-type {
      text-align: left;
      padding-top: 0; }
  .Page-4 .P4-Central-2 .T-2 {
    padding-left: 100px;
    padding-right: 0;
    padding-top: 5px;
    text-align: left; }
    .Page-4 .P4-Central-2 .T-2 span:last-of-type {
      text-align: left; }
  .Page-4 .P4-Central-2 .T-3 {
    padding-left: 52px;
    padding-right: 0;
    padding-top: 5px;
    text-align: left; }
    .Page-4 .P4-Central-2 .T-3 span:last-of-type {
      text-align: left; }

  .Page-4 .P4-Central .P4-L, .Page-4 .P4-Central-2 .P4-L {
    display: none; }

  .Page-4 .P4-Central .Pyramid-1, .Page-4 .P4-Central-2 .Pyramid-2 {
    width: 100%; }

  .Page-4 .P4-Central-2 .Pyramid-2 .PT .Pyr-1 {
    left: -47px; }

  .Page-4 .P4-Central-2 .PM .Pyr-2 {
    left: -93px; }

  .Page-4 .P4-Central-2 .PB .Pyr-3 {
    left: -139px; } }
@media (max-width: 800px) {
  .Page-4 {
    padding: 50px 0 0 0; }

  .Page-4 .P4-Bottom {
    padding-top: 45px; }

  .Page-4 .P4-Bottom .P4-Bottom-Container {
    display: block;
    width: 42%;
    padding: 0 15px 54px;
    margin: 0 auto; }

  .Page-5 {
    padding: 60px 0 70px 0; }

  .Page-5 .P5-Central .P5-Central-Content {
    width: 65%; }

  .Page-6 .P6-Central .P6-1, .Page-6 .P6-Central .P6-2 {
    width: 75%;
    padding: 0 25px; }

  .Page-8 .P8-Central .P8-Container {
    width: 70%; }

  .Page-9 .P9-Central .P9-1 {
    display: block;
    width: 100%;
    padding: 0 20px 20px; }

  .Page-9 .P9-Central .P9-2 {
    display: block;
    width: 100%;
    padding: 27px 0 0 0; }

  .Page-9 .P9-Central .P9-2 .P9-2-In {
    padding: 0 25px; }

  .Page-9 .P9-Bottom .Bottom-Right .P9-Img-Container {
    padding-top: 34px; }

  .Page-4 .P4-Central .P4-L span {
    right: 134px; }

  .Page-4 .P4-Central-2 .P4-L span {
    left: 134px; } }
@media (max-width: 700px) {
  .Page-1 .P1-Header-Top .P1-Img-Container {
    display: none; }

  .Page-2 .P2-W .P2-1 {
    display: block;
    margin: 0 auto;
    width: 85%;
    margin-bottom: 35px; }

  .Page-2 .P2-W .P2-2 {
    display: block;
    margin: 0 auto;
    width: 85%; }

  .Page-2 .P2-W .P2-2 .Button {
    width: 100%;
    margin-top: 32px; }

  .Page-2 {
    padding-bottom: 69px; }

  .Page-4 .P4-Bottom .P4-Bottom-Container {
    width: 52%; }

  .Page-8 .P8-Central .P8-Container {
    width: 80%; } }
@media (max-width: 600px) {
  .Page-4 .P4-Bottom .P4-Bottom-Container {
    width: 60%; }

  .Page-5 .P5-Central .P5-Central-Content {
    width: 95%; }

  .Page-6 .P6-Central .P6-1, .Page-6 .P6-Central .P6-2 {
    width: 95%;
    padding: 0 15px; } }
@media (max-width: 450px) {
  .Button {
    width: 224px; }

  h1 {
    font-size: 32px; }

  h2 {
    font-size: 26px; }

  .Page-1 .P1-Central {
    padding: 90px 0 112px 0; }

  .Page-4 .P4-Bottom .P4-Bottom-Container {
    width: 80%; }

  .Page-5 .P5-Central .P5-Central-Content-In {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 25px 20px 20px; }

  .Page-5 .P5-Central .P5-Central-Content {
    padding: 10px; }

  .Page-6 .P6-Central .P6-Text .P6-C {
    text-align: left;
    width: 100%; }

  .Page-6 .P6-Central .P6-Text .P6-NC span {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 10px; }

  .Page-6 .P6-Central .P6-Text p {
    font-size: 16px; }

  .Page-8 .P8-Central .P8-Container {
    width: 100%; }

  .Page-4 .P4-Central .T-1 .Descriptions, .Page-4 .P4-Central .T-2 .Descriptions, .Page-4 .P4-Central .T-3 .Descriptions {
    display: none; }

  .Page-4 .P4-Central-2 .PT .T-1 .Descriptions, .Page-4 .P4-Central-2 .PM .T-2 .Descriptions,
  .Page-4 .P4-Central-2 .PB .T-3 .Descriptions {
    display: none; }

  .Page-4 .P4-Central .PT .T-1 span, .Page-4 .P4-Central .PM .T-2 span,
  .Page-4 .P4-Central .PB .T-3 span, .Page-4 .P4-Central-2 .PT .T-1 span, .Page-4 .P4-Central-2 .PM .T-2 span,
  .Page-4 .P4-Central-2 .PB .T-3 span {
    font-size: 19px; }

  .Page-9 .P9-Bottom .Bottom-Right a {
    padding: 0 10px; }

  .Page-1 .P1-Header-Top .Contacts-Header, .Page-1 .P1-Header-Top .P1-Img-Container {
    padding: 5px 0; }

  .Page-1 .P1-Header-Top {
    padding-bottom: 22px; } }

/*# sourceMappingURL=media.css.map */
